.box1{
    background-color:#fab3ff;
    height: 120px;
}

.box2{
    background-color:#e7ccff;
     height:60px;
}

.redes{
    font-size: 60px !important;
    color: #FF4D6D
}

.textos{
    color:#FF4D6D
}