h4{
    font-family: "Montserrat";
    color: #000000;
    font-size: 12px;
    padding-right: 55%; 
    align-items: "start";
  }
  
  .integrantes{
     color: #000000;
     background-color: #252B42;
     text-align: left;
  }
  
  .redeSocial{
    color: #000000;
     font-size: 12px;
     padding: 2px;  
     text-align: left;
     display:flex;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
  
  .icon{
    color: #000000;
    padding-bottom: 10px;
    padding-right: 5px; 
  }