p{
    font-size: 20px;
  text-align: center;
  color: #000000;
  padding: 10px;
  }
  
  h1{
    text-align: center;
  }
  
  .logo {
    display: flex;
    width: 30%;
    justify-content: left;
    position: relative;
    align-items: center;
    border: 1px solid #000000;
  }
  
  .img{
    border-radius: 10px;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  }
  
  body{
    background-image: url('https://cdn.wallpapersafari.com/95/98/CcENtw.jpg');
    background-size:100%;
  }