p{
  font-size: 20px;
text-align: center;
color: #f0b4ff;
padding: 10px;
}

h1{
  text-align: center;
}

.logo {
  display: flex;
  width: 30%;
  justify-content: left;
  position: relative;
  align-items: center;
  border: 1px solid #f2ff00;
}

.img{
  border-radius: 10px;
width: 10px;
height: 10px;
display: block;
margin: 0 auto;
}

body{
  background-image: url('https://cdn.wallpapersafari.com/95/98/CcENtw.jpg');
  background-size:10%;
}