.imagem2{
    background-image: url(../../src/assets/images/login.jpg);
    background-repeat:no-repeat; 
    width:100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    color: #FF4D6D;
}

.botaoCancelar{
   background-color: #590D22 !important;
   color:#FFFFFF !important;
   border-radius: 15px !important;
   margin-right: 20px !important;
}

.botaoCadastrar{
    background-color: #FF4D6D !important;
    color:#FFFFFF !important;
    border-radius: 15px !important;
 }